<a href="https://colab.research.google.com/github/CarlosJozala/Pratica_Python_Paradigmas/blob/main/4_1_DicSetTuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Dicionários, Sets e tuplas Prof. Fernando Amaral**

In [ ]:
#Criação de Dicionários: Com utilização de atribuição de Colaborador e Salário

Salários = {'João': 2250.02 , 'Maria': 7595.92, 'Pedro': 6342.54}
print(Salários)

{'João': 2250.0, 'Maria': 7595.92, 'Pedro': 6342.54}

In [ ]:
print(Salários['João'])

Salários.keys()

2250.0

SyntaxError: ignored

In [ ]:
Salários.values()

# Teste de Colaborador no Campo de Salários

print('João' in Salários)
print('Pedro' in Salários)

In [ ]:
# Apaga um termo no Dicionário

del Salários['João']
print(Salários)

In [ ]:
# Inclui um termo no Dicionário

Salários['Carlos'] = 12789.89
print(Salários)

{'João': 2250.0, 'Maria': 7595.92, 'Pedro': 6342.54, 'Carlos': 12789.89}

In [ ]:
# Verifica a existência de termos

print('Carlos' in Salários)

True

In [ ]:
#Criação de Tuplas 

tupla = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)
tupla

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)

In [ ]:
# Criação de Sets que são conjuntos não ordenados de elementos não repetidos
Clouds = {'Azure', 'AWS', "GCP", "IBM", "Tencent Cloud"}
print(Clouds)

{'IBM', 'GCP', 'Tencent Cloud', 'AWS', 'Azure'}

In [ ]:
print(type(Salários))
print(type(tupla))
print(type(Clouds))

<class 'dict'>
<class 'tuple'>
<class 'set'>